@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border font-poppins;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-grey-2 text-base min-h-screen;
}

button:hover {
  @apply cursor-pointer;
}

button:disabled {
  @apply cursor-not-allowed;
}

a:hover {
  @apply cursor-pointer;
}

a[aria-disabled="true"] {
  @apply cursor-not-allowed;
}

@media (prefers-reduced-motion) {
  * {
    @apply animate-none;
  }

  html {
    @apply scroll-auto;
  }
}
